<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View All Movies</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
   <table class = "table table-striped table-bordered">
   <thead class = "table-dark">
     <tr>
        <th>Movie_ID</th><th>Movie_Name</th><th>Image</th><th>Movie_Details</th><th>Delete</th>
     </tr>     
    </thead>
    <tbody>
      <tr th:each = "movies: ${movies}">
					<td th:text = "${movies.movieId}"></td>
					<td th:text = "${movies.movieName}"></td>
					<td th:text = "${movies.image}"></td>
					<td th:text = "${movies.movieDetails}"></td>
					<td>
						
						
						<a th:href = "@{/movies/{id}(id=${movies.movieId})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
    </tbody>
   </table>
</body>
</html>